

h1{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    padding-bottom: 10px;
}

.p-edit{
    padding-top: 10px;
}

a{
    color: #fff;
    text-decoration: none;

}

.cabeca{
    display: flex;
    font-size: 10px;
    /*justify-content: space-around;*/
    align-items: center;
    background-color: #464658;
    height: 6vh;
}

ul{
    display: flex;
    list-style: none;
 }

li{
    letter-spacing: 2px;
    align-items: center;
    margin-left: 20px;
}

footer{
    color: #fff;
    margin-top: 1%;
    height: 6vh;
    background-color: #464658;
    padding-left: 20px;
    font-size: 10px;
    align-items: center;
}

.div-dados{
    padding-bottom: 5px;
}

.btn-success{
    margin: 5px;
    padding: 10px;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    align-items: center;
}

table{
    width: 50%;
    text-align: center;
}
thead{
    
    background-color: #464658;
    font-size: 14px;
    border: black;
}

.link-td{
    background-color: #b9b9cc;
}