<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>CONTROLE</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <header>
    <div class="cabeca">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/read_all">Paciente</a></li>
          <li><a href="/banco">Login</a></li>
          <li><a href="/add_">Register</a></li>
        </ul>
      </nav>
    </div> 
  </header>
<main></main>

{% block content %}{% endblock %}

<footer>
  <p>Desenvolvido por Fulstack Cursos</p>
</footer>

</body>

<script src="static/scripts.js"></script>

</html>
