<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>CONTROLE</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <header>
    <div class="cabeca">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Paciente</a></li>
          <li><a href="/banco">Login</a></li>
          <li><a href="/add_">Register</a></li>
        </ul>
      </nav>
    </div> 
  </header>
<main></main>

{% block content %}{% endblock %}
<footer>
  <p>Desenvolvido por Fulstack Cursos</p>
</footer>

</body>

</html>
